.vs
enc_temp_folder/
Binaries/
DerivedDataCache/
Intermediate/
Platforms/
Saved/
Script/
Build/

*.lnk
*.pdb
*.dll
*.lib
*.exe
*.sln

# netimgui server
Source/Thirdparty/ImGui/net_imgui_server/netImgui.cfg
!Source/Thirdparty/ImGui/net_imgui_server/NetImguiServer.exe
